/*Mobile max-width 767
Tablet max-width 1032
Desktop min-width 1033*/

* {
	box-sizing: border-box;
}

:root {
	font-family: 'Wix Madefor Display', sans-serif;
	font-weight: 400;
	letter-spacing: normal;
}

body {
    margin: 0;
}

.menu {
	width: 100%;
	height: 54px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 100;
	box-shadow: 0 8px 14px 0 rgba(0,0,0,.04);
}

.extra-items {
	display: none;
}

.header-h1 {
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	margin: 0;
}

.logo {
	width: 64px;
	height: 24px;
}

.hamburger-menu-btn {
	background-color: inherit;
	border: none;
	padding: 0;
}

.hamburger-menu {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lines, .lines:before, .lines:after {
	position: absolute;	
	background-color: black;
	height: 2px;
	width: 20px;
}

.lines:before, .lines:after {
	display: block;
	content: "";
}

.lines:before {
	top: -8px;
}

.lines:after {
	bottom: -8px;
}

.get-started {
	margin-left: auto;
	margin-right: 18px;
	padding: 6px 18px;
	background-color: #166aea;
	border-radius: 15px;
	font-size: 14px;
	border: 1px solid #166aea;
	color: white;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000624;
	color: white;
	padding: 24px 0;
}

.input-search {
	border-radius: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
    background-color: white;
	width: 100%;
    padding: 0 18px;
}

.header-info{
	padding: 0 24px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-bar {
	width: 100%;
	border: none;
    padding: 5px 3px 5px 6px;
    font-size: 16px;
    height: 90%;
    border-radius: 20px;
	background-color: inherit;
}

.search-bar:focus {
	outline: none;
}

.input-search:focus-within {
	outline: 4px solid #5999ff;
}

::placeholder {
    color: #acafc4;
}

.header-h1 {
	font-size: 32px;
	line-height: 40px;
}

.header-p {
    margin: 6px 0 24px;
}

.categories-list {
	display: block;
	padding: 0 18px;
}

.categories-list-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #dfe5eb;
	padding-top: calc(6px*3);
	padding-bottom: calc(6px*3);
}

p {
	margin: 0;
}

.categories-list-text {
	font-size: 18px;
	line-height: 26px;
	margin: 0;
}

.first {
	font-weight: 530;
	color: rgb(51, 56, 83);
}

.product-bg {
	position: absolute;
	z-index: -1;
}

.roadmap-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 280px;
}

.roadmap-header, .topics-header {
	font-size: 24px;
	line-height: 32px;
	font-weight: 530;
	margin: 0;
}

.roadmap-desc {
	margin: 14px 0 0;
	font-size: 16px;
	line-height: 24px;
	color: #000624;
	opacity: 70%;
}

.roadmap-btn {
	margin: 18px 0 0;
	background-color: rgb(0, 6, 36);
	border-radius: 18px;
	border: solid 1px rgb(0, 6, 36);
	color: white;
	font-size: 16px;
	font-weight: 530;
	height: 36px;
	min-width: 84px;
	padding: 0 23px;
}

.topics {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 24px 0;
	background-color: #ECEFF3;
}

.topics-article {
	margin: 24px 0 0;
	padding: 30px;
	width: 312px;
	background-color: white;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 247px;
}

.article-tag {
	padding: 3px 6px;
	background-color: #ECEFF3;
	font-size: 12px;
	font-style: normal;
	border-radius: 6px;
	color: rgb(51, 56, 83);
}

.article-header {
	font-size: 18px;
	font-weight: 530;
	color: rgb(51, 56, 83);
	line-height: 24px;
	margin: 6px 0 0;
}

.article-desc {
	font-size: 14px;
	color: #595D70;
	margin: 6px 0 0;
	opacity: 80%;
	line-height: 18px;;
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.link-to-article {
	font-size: 14px;
	text-decoration: none;
	color: #116DFF;
	line-height: 18px;
	opacity: 70%;
}

.logo-desc {
	width: 71px;
	height: 28px;
}

.wix-desc {
	padding: 48px 30px;
}

.wix-desc-paragraph {
	font-size: 14px;
	margin-top: 18px;
	line-height: 24px;
	color: #2f2f30;
	opacity: 70%;
}

.nav-contact-mobile {
	margin-top: 48px;
}

.categories-list-desc {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #C4C4C4;
	padding: 18px 0;
}

.categories-list-desc:nth-last-child(-n+1) {
	border: none;
}

footer {
	font-size: 14px;
	border-top: 1px solid #dfe5eb;
	padding: 30px 30px 54px;
}

.footer-info-wrapper {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.icons-mobile-desktop {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.terms-policy {
	display: flex;
	gap: 30px;
	flex-direction: row;
}

.contact {
	display: none;
}

.footer-wrapper {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

@media only screen and (max-width: 767px) {
	.show-all, .option-list-el, .desc-wrapper, .bottom-nav, .icons-tablet, .nav-desktop{
		display: none;
	}
}

@media only screen and (max-width: 1032px) and (min-width: 768px) {
	.menu {
		height: 72px;
	}

	.logo {
		width: 75px;
		height: 28px;
	}
	
	header {
		padding: 72px 0;
	}

	.header-h1 {
		font-size: 40px;
		line-height: 48px;
	}

	.header-p {
		margin: 12px 0 42px;
	}

	::placeholder {
		font-size: 20px;
	}

	.header-info {
		padding: 0;
	} 

	.input-search {
		width: 680px;
	}

	.list-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 30px auto;
		padding: 0;	
		max-width: 670px;
	}

	.categories-list-text {
		color:rgb(0, 6, 36);
	}

	.categories-list-box {
		padding: 30px;
		flex-direction: column;
		align-items: flex-start;
		height: 215px;
		width: 335px;
		justify-content: space-between;
	}

	.categories-list-box:nth-child(odd) {
		border-right: 1px solid #dfe5eb;
	}

	.categories-list-box:nth-last-child(-n+2) {
		border-bottom: none;
	}

	.option-list-el {
		display: flex;
		flex-direction: row;
		column-gap: 6px;
		align-items: center;
	}

	.main-options {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		line-height: 29px;
	}

	.categories-list-text {
		margin: 0 0 6px;
	}

	.show-all {
		font-size: 16px;
		opacity: 100%;
	}

	.roadmap-header {
		font-size: 32px;
	}

	.roadmap-wrapper {
		display: flex;
	}

	.topics-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 24px;
		margin: 50px 0 0;
	}

	.topics-article {
		margin: 0;
	}

	.topics-header {
		font-size: 40px;
	}

	.topics {
		padding: 60px 0 86px;
	}

	.topics-article:nth-last-child(-n+2), .arrow, .nav-contact-mobile, .icons-mobile-desktop, .nav-desktop {
		display: none;
	}

	.bottom-nav {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(2,auto);
		grid-row-gap: 54px;
		width: 647px;
		justify-content: space-between;
	}

	.wix-desc-paragraph {
		opacity: 80%;
	}

	.contact {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	.icons-tablet {
		display: flex;
		flex-direction: row;
		gap: 12px;
		margin: 24px 0 0;
	}

	.contact, .icons {
		margin-top: 24px;
	}

	ul {
		padding: 0;
		margin: 0;
		display: grid;
		line-height: 24px;
	}

	ul > *{
		margin: 12px 0 0;
		font-size: 14px;
	}

	h4{
		font-weight: 500;
		font-size: 16px;
		font-style: normal;
	}

	.wix-desc {
		display: flex;
		gap: 54px;
		align-items: center;
		flex-direction: column;
		padding-top: 54px;
	}

	.wix-desc-wrapper {
		width: 647px;
	}

	.copyright {
		margin-left: auto;
	}

	footer {
		padding: 0;
		display: flex;
		justify-content: center;
		height: 79px;
	}

	.contact > *{
		font-size: 14px;
		font-style: normal;
	}

	.footer-wrapper {
		display: flex;
		flex-direction: row;
		width: 647px;
		justify-content: space-between;
		align-items: center;
	}

}

@media only screen and (max-width: 1279px) and (min-width: 1033px){
	.menu {
		height: 72px;
	}

	.nav-desktop, .nav-items{
		display: flex;
		align-items: center;
	}

	.nav-desktop {
		height: inherit;
		margin: 0 0 0 12px;
		padding: 0;
		width: 100%;
	}

	.nav-items > * {
		font-size: 14px;
		line-height: 24px;
		font-family: Madefor-Text, Madefor, "Helvetica Neue", Helvetica, Arial, メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	}

	.nav-items {
		border-bottom: 2px solid transparent;
   	 	border-top: 2px solid transparent;
    	height: 72px;
		padding: 0 12px;
	}

	.stroke {
		margin: 0 12px;
		align-self: center;
    	border-right: 1px solid #b9b9bd;
    	display: inline-flex;
    	height: 20px;
	}

	.logo {
		width: 68px;
		height: 26px;
	}
	
	header {
		padding: 72px 0;
	}

	.header-h1 {
		font-size: 40px;
		line-height: 48px;
	}

	.header-p {
		margin: 12px 0 42px;
	}

	::placeholder {
		font-size: 20px;
	}

	.header-info {
		padding: 0;
	} 

	.input-search {
		width: 680px;
	}

	.categories-list {
		display: flex;
		flex-wrap: wrap;
		margin: 30px auto;
		padding: 0;	
	}

	.categories-list-text {
		color:rgb(0, 6, 36);
	}

	.categories-list-box {
		padding: 30px;
		flex-direction: column;
		align-items: flex-start;
		height: 215px;
		width: 335px;
	}

	.categories-list-box:nth-child(3n+1), .categories-list-box:nth-child(3n+2) {
		border-right: 1px solid #dfe5eb;
	}

	.categories-list-box:nth-last-child(-n+3) {
		border-bottom: none;
	}

	.option-list-el {
		display: flex;
		flex-direction: row;
		column-gap: 6px;
		align-items: center;
	}

	.main-options {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		line-height: 29px;
	}

	.list-wrapper {
		display: flex;
		max-width: 1005px;
		margin: 30px auto;
		flex-wrap: wrap;
	}

	.roadmap-wrapper {
		display: flex;
	}

	.roadmap-header {
		font-size: 32px;
	}

	.topics-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 24px;
		margin: 50px 0 0;
	}

	.topics-article {
		margin: 0;
		width: 336px;
	}

	.topics-article:nth-last-child(-n+2), .arrow, .nav-contact-mobile, .icons-mobile-desktop, .get-started{
		display: none;
	}

	.topics-header {
		font-size: 40px;
	}

	.topics {
		padding: 60px 0 86px;
	}

	.bottom-nav {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(2,auto);
		grid-row-gap: 54px;
		width: 647px;
		justify-content: space-between;
	}

	.wix-desc-paragraph {
		opacity: 80%;
	}

	.contact {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	.icons-tablet {
		display: flex;
		flex-direction: row;
		gap: 12px;
		margin: 24px 0 0;
	}

	.contact, .icons {
		margin-top: 24px;
	}

	ul {
		padding: 0;
		margin: 0;
		display: grid;
		line-height: 24px;
	}

	ul > *{
		margin: 12px 0 0;
		font-size: 14px;
	}

	h4{
		font-weight: 500;
		font-size: 16px;
		font-style: normal;
	}

	.wix-desc {
		display: flex;
		gap: 54px;
		align-items: center;
		flex-direction: column;
		padding-top: 54px;
	}

	.wix-desc-wrapper {
		width: 647px;
	}

	.copyright {
		margin-left: auto;
	}

	footer {
		padding: 0;
		display: flex;
		justify-content: center;
		height: 79px;
	}

	.contact > *{
		font-size: 14px;
		font-style: normal;
	}

	.footer-wrapper {
		display: flex;
		flex-direction: row;
		width: 647px;
		justify-content: space-between;
		align-items: center;
	}
}


@media only screen and (min-width: 1280px){
	.menu {
		height: 72px;
		gap: 20px;
		padding: 0 36px;
	}

	.nav-desktop, .nav-items{
		display: flex;
		align-items: center;
	}

	.nav-desktop {
		height: inherit;
		margin: 0 0 0 12px;
		padding: 0;
		width: 100%;
	}

	.nav-items > * {
		font-size: 14px;
		line-height: 24px;
	}

	.nav-items {
		border-bottom: 2px solid transparent;
   	 	border-top: 2px solid transparent;
    	height: 72px;
		padding: 0 12px;
	}

	.stroke {
		margin: 0 12px;
		align-self: center;
    	border-right: 1px solid #b9b9bd;
    	display: inline-flex;
    	height: 20px;
	}

	.logo {
		width: 72px;
		height: 28px;
	}
	
	header {
		padding: 72px 0;
	}

	.header-h1 {
		font-size: 40px;
		line-height: 48px;
	}

	.header-p {
		margin: 12px 0 42px;
	}

	::placeholder {
		font-size: 20px;
	}

	.header-info {
		padding: 0;
	} 

	.input-search {
		width: 680px;
	}

	.categories-list {
		display: flex;
		flex-wrap: wrap;
		margin: 30px auto;
		padding: 0;	
	}

	.categories-list-text {
		color:rgb(0, 6, 36);
	}

	.categories-list-box {
		padding: 30px;
		flex-direction: column;
		align-items: flex-start;
		height: 215px;
		width: 335px;
	}

	.categories-list-box:nth-child(3n+1), .categories-list-box:nth-child(3n+2) {
		border-right: 1px solid #dfe5eb;
	}

	.categories-list-box:nth-last-child(-n+3) {
		border-bottom: none;
	}

	.option-list-el {
		display: flex;
		flex-direction: row;
		column-gap: 6px;
		align-items: center;
	}

	.main-options {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		line-height: 29px;
	}

	.list-wrapper {
		display: flex;
		max-width: 1005px;
		margin: 30px auto;
		flex-wrap: wrap;
	}

	.roadmap-wrapper {
		display: flex;
	}

	.roadmap-header {
		font-size: 32px;
	}

	.topics-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 24px;
		margin: 50px 0 0;
	}

	.topics-article {
		margin: 0;
		width: 336px;
	}

	.topics-article:nth-last-child(-n+2), .arrow, .nav-contact-mobile, .icons-tablet, .get-started{
		display: none;
	}

	.topics-header {
		font-size: 40px;
	}

	.topics {
		padding: 60px 0 86px;
	}

	.wix-desc-paragraph {
		opacity: 90%;
		margin: 36px 0 0;
	}

	.contact {
		display: flex;
		flex-direction: column;
		gap: 6px;
		margin: 30px 0 0;
	}

	.contact > * {
		font-size: 14px;
		font-style: normal;
	}

	ul {
		padding: 0;
		margin: 0;
		display: grid;
		line-height: 24px;
	}

	ul > *{
		margin: 12px 0 0;
	}

	h4{
		font-weight: 500;
		font-size: 16px;
		font-style: normal;
		margin: 0;;
	}
	
	.bottom-nav {
		display: grid;
		grid-template-columns: repeat(5, auto);
		gap: 54px;
		width: 968px;
	}

	.wix-desc {
		display: flex;
		flex-direction: row-reverse;
		width: 1259px;
		gap: 66px;
		padding: 54px 0;
		margin: auto;
	}

	.footer-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 30px 69px;
		width: 1258px;
		gap: 0;
	}

	.terms-policy {
		margin-left: auto;
		gap: 42px;
	}

	.copyright {
		margin-left: 42px;
	}

	footer {
		padding: 0;
		height: 96px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	ul > * {
		font-size: 14px;
	}
}

@media only screen and (min-width: 1389px) {
	.extra-items {
		display: flex;
		border-bottom: 2px solid transparent;
   	 	border-top: 2px solid transparent;
    	height: 72px;
		padding: 0 12px;
		font-size: 14px;
		line-height: 24px;
		align-items: center;
	}



}